
  version: '3.9'

  services:
    db:
      image: postgres:15
      container_name: postgres
      env_file:
        - .env
      volumes:
        - postgres_data:/var/lib/postgresql/data
      restart: always
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
        interval: 10s
        timeout: 5s
        retries: 5

    backend:
      build: ./backend
      container_name: backend
      env_file:
        - .env
      expose:
        - "8000"
      depends_on:
        db:
          condition: service_healthy
      restart: always
      command: >
        sh -c "python manage.py migrate && 
               gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3"

    frontend:
      build:
        context: .
        dockerfile: frontend/Dockerfile
        args:
          NEXT_PUBLIC_API_BASE_URL: /api
      container_name: frontend
      env_file:
        - .env
      expose:
        - "3000"
      depends_on:
        - backend
      restart: always

    nginx:
      build: ./nginx
      container_name: nginx
      ports:
        - "80:80"
      depends_on:
        - frontend
        - backend
      restart: always




  volumes:
    postgres_data:


